@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(80, 38, 144);
  border-radius: 50px;
}

.res {
  width: 520px;
}
.ress {
  width: 450px;
}
.create {
  font-weight: 700;
  font-size: 14px;
}

.sign {
  font-weight: 900;
}
.car {
  height: 470px;
}
.carr {
  height: 350px;
}
.btn {
  margin-left: 85px;
}
.len {
  width: 600px;
  height: 200px;
}
.lenn {
  width: 450px;
  height: 200px;
}
.img {
  width: 190px;
}
.move {
  margin-left: 1000px;
}
.run {
  margin-left: 1250px;
}
.ptn {
  margin-left: 1100px;
}
.si {
  width: 700px;
}
.sii {
  width: 700px;
  height: 415px;
}
.tes {
  width: 70vh;
  height: 28vh;
}
.tess {
  width: 60vh;
  height: 25vh;
}
.vid {
  width: 640px;
}
.vidd {
  width: 460px;
}
.suc {
  width: 340px;
  height: 360px;
}
.succ {
  width: 460px;
  height: 360px;
}
.est {
  width: 480px;
}
.wsel {
  width: 450px;
}
